html {
  text-align: center;
}

#imageList {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 400px;
  overflow: auto;
  margin: 30px auto;
  padding: 20px 10px;
  border: 5px solid black;
}

img {
  padding: 15px 5px;
  list-style-type: none;
  width: 200px;
  height: 120px;
  display: inline-block;
}

img:hover {
  background: #bbbbbb;
}

img.loading:hover {
  background: #aaaaaa;
}

img.loading {
  background: #ffc0cb;
  opacity: 0.3;
}
