html {
  text-align: center;
}

#imageContainer {
  width: 250px;
  height: 400px;
  overflow: auto;
  margin: 30px auto;

  padding: 20px 10px;
  border: 5px solid black;
}

img {
  padding: 15px 5px;
  list-style-type: none;
  width: 200px;
}
img:hover {
  background: #bbbbbb;
}
